@charset "UTF-8";
@font-face {
	font-family: "b";
	font-style: normal;
	src: url(../font/NotoSansKR-Black.ttf) format('truetype');
}


@font-face {
	font-family: "r";
	font-style: normal;
	src: url(../font/NotoSansKR-Regular.ttf) format('truetype');
}


@font-face {
	font-family: "m";
	font-style: normal;
	src: url(../font/NotoSansKR-Medium.ttf) format('truetype');
}

:root{
    /* 메인 색상 */ 
	--main-color1:#102A33;
    --main-color2:#5A93AB;
    --main-color3:#4B879E;
    --main-color4:rgba(187, 211, 222, 0.6);
    /* 페이지 너비 */
    --page-w:1200px;
	/* 상세정보 페이지 */
	--detail-w:1000px;
}

body, h1, form, input, select, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
    min-height: 100vh;
    display:flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;    /* 수직 중앙 정렬 */
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

#find-text {
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;
    height: 50px;
    background-color: var(--main-color4);
    border-radius: 4px;
    color: #4B879E;
    font-family: "m";
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 아이디 찾기 */
.main-container {
    width: 1000px;
    height: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px; 
    background-color: #E0E0DB;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-id-container {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 10px;
   	box-shadow:  0 8px 20px rgba(0, 0, 0, 0.2);
}

.update-pw-container {
    width: 400px;
    box-shadow:  0 8px 20px rgba(0, 0, 0, 0.2)
}

.header-top-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top-area img {
    width: 100px;
}
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-family: "m";
    margin-right: 10px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* 이름 성별 */
.nameGen {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.nameGen .name-group {
    width: 40%;
    margin-right: auto;
}

.radio-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.radio-group input   {
    margin-right: 5px;
}

/* 생년월일 */
.birth-group {
    display: flex;
    flex-direction: row;
}
.birth-group select {
    margin-right: 10px;
    width: 25%;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* 연락처 */
.phone-group {
    display: flex;
    flex-direction: row;   

}
.phone-group div {
    width: 80%;
    
}
.phone-group #phone {
    margin-right: 10px;
    width: 100%;
}

/* 아이디 찾기 버튼 */
.btn-group {
    display: flex;    
    justify-content: center;
    align-items: center;
}

.btn-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#find-id-btn {
    width: 100%;
    background-color: var(--main-color3);
    color: white;
    margin-right: 10px;
}

#find-id-btn:active {
    background-color: var(--main-color1);
}

.cancel-btn {
    width: 100%;
    background-color: var(--main-color1);
    color: white;
}

/* 아이디 찾기 결과 */
.id-result {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); /* 배경 블러 효과 */
}

.result-container {
    width: 300px;
    height: 250px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.result-container p {
    font-family: "m";
    font-size: 20px;
}

.result-container #found-id {
    font-family: "m";
    font-size: 20px;
    color: var(--main-color3);
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    display: block;
}


#id-btn {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: var(--main-color3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "m";
    font-size: 20px;
}

#id-btn:hover {
    background-color: var(--main-color1);
}





/* 비밀번호 수정 */
#pw {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update-pw-container {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
}

#update-pw-btn {
    width: 100%;
    background-color: var(--main-color3);
    color: white;
    margin-right: 10px;
}

.update-pw-container .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.input-group label {
    width: 15%;
    margin-right: 20px;
}

.id-group {
    width: 80%;
}

/* 새로운 비밀번호 입력 */
.result-container p{
    font-family: "m";
    font-size: 20px;
}
.new-pw {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.new-pw .result-container {
    width: 500px;
    height: 300px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



.new-pw .close-modal:hover {
    background-color: #0056b3;
}

#new-pw {
    width: 100%;
    height: 30px;
    background-color: #fff;
    color: #000;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#new-pwCheck {
    width: 100%;
    height: 30px;
    background-color: #fff;
    color: #000;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.pw-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
}

.pw-input-group {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.pw-input-group input {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-family: "m";
    font-size: 20px;
}
.pw-input-group{
    width: 100%;
}

.pw-input-group #new-pw {
    height: 50px;
    margin-bottom: 20px;
}

.pw-input-group #new-pwCheck {
    height: 50px;
}

.pw-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

#new-btn {
    width: 100%;
    height: 50px;
    background-color: var(--main-color3);
    color: white;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "m";
    font-size: 20px;
    cursor: pointer;
}

#new-cancel-btn {
    width: 100%;
    height: 50px;
    background-color: var(--main-color1);
    color: white;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "m";
    font-size: 20px;
    cursor: pointer;
}

#pw-text {
    font-family: "m";
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 10px;
}

#pw-check-text {
    font-family: "m";
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

