@charset "UTF-8";
@font-face {
	font-family: "b";
	font-style: normal;
	src: url(../font/NotoSansKR-Black.ttf) format('truetype');
}


@font-face {
	font-family: "r";
	font-style: normal;
	src: url(../font/NotoSansKR-Regular.ttf) format('truetype');
}


@font-face {
	font-family: "m";
	font-style: normal;
	src: url(../font/NotoSansKR-Medium.ttf) format('truetype');
}

:root{
	--color-main:#5c92ac;
	--color-sub:#2d5f7a;
    --color-back:#e0e2dc
	--page-w:1200px;
}

button,input,textarea {
	font-family: "r";
}


/* 데스크탑 */
@media (min-width: 768px) {

.m-list{
    display: none !important;
}
.d-list{
    display: block;
}

/* header */


#search-header{
    width: var(--page-w);
    color: var(--color-main);
    margin: 50px auto 0;
    background: #fff;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	border-top: 1px solid var(--color-main);
	border-bottom: 1px solid var(--color-main);
}
#search-box{
	display: flex;
	flex-direction: center;
	justify-content: center;
	margin: 20px 0;
}
.search-header-top{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-header-top-area{
    display: flex;
    align-items: center;
}
.search-header-top-area > img{
    width: 40px;
    color:var(--color-main);
}

.search-header-top span{
    padding: 0 20px;    
    font-size: 34px;
}

.search-header-top-area span{
    border-right: 1px solid #fff;
}

.search-header-bottom{
    width: var(--page-w);    
    margin: 0 auto;
    padding: 10px 20px;
    background:var(--color-main);
    text-align: center;
}   
.search-header-bottom span {           
    font-size: 24px;
}
#search {
	width: 500px;
	height: 50px;
	border: 1px solid var(--color-main);
    border-radius: 5px;
	padding: 0 10px;
	margin-right: 10px;
	font-size: 20px;
}
#searchBtn {
	width: 50px;
	height: 50px;
	background-color: #fff;
	color: var(--color-main);
	border: none;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
#searchBtn:hover {
	background-color: #4a7a91;
}
.sort-area button.active{
	background-color: var(--color-main);
	color: #fff;
}

/* check-area */
.check-area{
    width: var(--page-w);
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 23px;    
}
.check-area > input{
   margin-right: 10px;
   width: 20px;
   height: 20px;
}

.check-area > label{
    margin-right: 10px;
}

/* sort-area */
.sort-area{
    width: var(--page-w);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.sort-area > button{
    margin-right: 10px;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.sort-area > button:hover{
    background-color: var(--color-main);
    color: #fff;
}
.sort-area > .sort-area-right{
    font-size: 20px;
    font-weight: 600;
    margin-left: auto;
}
/* work-list */
/* 1 */
.work-list{
    width: var(--page-w);
    margin: 10px auto;
    /* height: 100%; */
}

.work-list-item{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    height: 200px;
    border: 1px solid #dedede;
    border-radius: 5px;
    border-top: 1px solid var(--main-color3);
}

.work-list-item:hover{
    background-color: var(--main-color4);
    cursor: pointer;
    border-left: 1px solid var(--main-color3);
    border-right: 1px solid var(--main-color3);
    transition: all 0.3s ease;    
}
.work-list-item:hover .work-list-item-right > span:nth-child(1){
    background-color: #fff; 
}

/* 왼쪽 */
.work-list-item-left{
    display: flex; 
    flex-direction: column;
    width: 75%;
    
}
.work-list-item-left > .work-list-item-title{
    margin-bottom: 20px;
   
}
.work-list-item-left > .work-list-item-title div > #orgName, #workPlace, #projNo{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--main-color2);
    display: inline-block;
}
.work-list-item-left > .work-list-item-title #workArea{
    font-size: 16px;
    font-weight: 600;
    color: var(--main-color1);

}
.work-list-item-left > .work-list-item-content{
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;

}
.work-list-item-left > .work-list-item-content > #content{
    padding: 0 0 10px 0;
}
.work-list-item-left > .work-list-item-period{
    font-size: 16px;
    color: var(--main-color1);
}
/* 오른쪽 */
.work-list-item-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#ing{
    font-size: 16px;
    font-weight: 600;
    background-color: var(--main-color3);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    justify-content: center;
}
.work-list-item-period > #hpNotiSdate, #hpNotiEdate{
    font-size: 16px;
    font-weight: 600;
}

/* .work-list-item-right > #jobType{
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var(--main-color1);
    padding: 5px 10px;
    border-radius: 5px;
    height: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.work-list-item-right > #hpInvtCnt{
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

    
}

/* 모바일 */

@media (max-width: 768px) {

.m-list{
    display: block;
}
.d-list{
    display: none !important;
}


.search-header{
    width: 100%;
    height: 50px;
    background-color: var(--color-main);
    margin: 50px auto 0;
    color: #fff;
}
.search-header-top{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-header-top-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-header-top-area > img{
    width: 20px;
}

.search-header-top span{
    padding: 0 20px;    
    font-size: 20px;
}

.search-header-top-area span{
    border-right: 1px solid #fff;
}

.search-header-bottom {
    width: 100%;  
    margin: 0 auto;
    padding: 5px 10px;
    background: #ddd;
    text-align: center;
}  
.search-header-bottom span {           
    font-size: 20px;
    padding: 5px 10px;
}

/* check-area */
.check-area{
    width: 100%;     
    height: 25px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    font-size: 15px;    
}
.check-area > input{
   margin-right: 5px;
   width: 10px;
   height: 10px;
}

.check-area > label{
    margin-right: 5px;
}

/* sort-area */
.sort-area{
    width: 100%;     
    height: 30px;
    margin: 10px auto;
    display: flex;
    align-items: center;
}

.sort-area > button{
    margin-right: 5px;
    font-size: 15px;
    padding: 2px 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.sort-area > button:hover{
    background-color: var(--main-color1);
    color: #fff;
}
.sort-area > .sort-area-right{
    font-size: 15px;
    font-weight: 600;
    margin-left: auto;
}
/* 2 */

/* work-list */
.m-work-list{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.m-work-list-item{
    width: 50%;
    height: 500px;
    padding: 10px 10px;
}

.m-work-list-item-info{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid var(--main-color3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.m-work-list-item-info:hover{
    background-color: var(--main-color4);
    cursor: pointer;
    border-left: 1px solid var(--main-color3);
    border-right: 1px solid var(--main-color3);
    transition: all 0.3s ease;    
}
.m-work-list-item-info:hover .m-work-list-item-service > #jobType{
    background-color: #fff; 
}
.m-work-list-item-top{
    height: 30%;
    
}

.m-work-list-item-info{
    position: relative;
}

.m-work-list-item-info > #jobId{
    font-size: 10px;
    font-weight: bold;
    color: var(--main-color2);
    position: absolute;
    top: 5px;
    right: 10px;


}
.m-work-list-item-top div > #oranNm, #plbizNm{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--main-color2);
    display: flex;
    flex-direction: column;
}

.m-work-list-item-top div > #workPlcNm{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--main-color2);
    display: flex;
    flex-direction: column;
}

.m-work-list-item-content{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 20px 0;
}

.m-work-list-item-period {
    margin-bottom: 10px;
}

.m-work-list-item-period #ing{
    font-size: 16px;
    font-weight: 600;
    background-color: var(--main-color3);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    justify-content: center;
}

.m-work-list-item-period #period{
    font-size: 16px;
    font-weight: 600;
}
.m-work-list-item-service{
    display: flex;
    flex-direction: row;
}
.m-work-list-item-service > #jobType{
    font-size: 12px;
    font-weight: 600;
    border: 1px solid var(--main-color1);
    padding: 5px 10px;
    border-radius: 5px;
    width: 40%;
    height: 60px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-work-list-item-service > #clltPrnnum{
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center
}



/* pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.pagination a {
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 50%;
}

.pagination a.active {
    background-color: #f0f0f0;
}

.pagination a:hover {
    background-color: #e0e0e0;
}

.first-page,.last-page,.prev-page,.next-page {
    font-weight: bold;
}

}

/* 페이지네이션 */
.pagination-area {
    padding: 15px 0 5px 10px;
    display: table;
    margin: 0 auto;
    text-align: center;
  }
