@font-face {
	font-family: "b";
	font-style: normal;
	src: url(../font/NotoSansKR-Black.ttf) format('truetype');
}


@font-face {
	font-family: "r";
	font-style: normal;
	src: url(../font/NotoSansKR-Regular.ttf) format('truetype');
}


@font-face {
	font-family: "m";
	font-style: normal;
	src: url(../font/NotoSansKR-Medium.ttf) format('truetype');
}

:root{
	--color-main:#5c92ac;
	--color-sub:#2d5f7a;
    --color-back:#e0e2dc
	--page-w:1200px;
}


button,input,textarea,select {
	font-family: "r";
}
body{
	font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* 회원가입 */
.container {
   	max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 6rem auto;
}
.header-top {
    text-align: center;

}
.header-top-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top-area img {
    width: 100px;
}
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-family: "m";
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.input-group select {
    width: 30%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.id-group {
    display: flex;
    gap: 10px;
}
.id-group button {
    width: 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--color-main);
    color: white;
}
.input-group input[type="radio"] {
    width: 15px;
    float: left;
}
.input-group .radio-group { 
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.birth-group select {
    width: 30%;
    margin-right: 19px;
}

/* 버튼 */
.btn-group {
    display: flex;    
    justify-content: center;
    align-items: center;
}
.btn-group button {
    padding: 10px 30px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


.submit-btn {
    width: 200px;
    background-color: var(--color-main);
    color: white;
}

.cancel-btn {
    width: 200px;
    background-color: var(--color-main);
    color: white;
}