body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.write-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
}

#content{
    width: 98%;
    height: 300px;
}

.form-group input{
    width: 98%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-group input:disabled, .form-group textarea:disabled {
    background-color: #f9f9f9;
    cursor: not-allowed;
}

textarea {
    resize: vertical;
}

.form-actions {
    text-align: center;
}

.form-actions button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

.form-actions button:hover {
    background-color: #0056b3;
}

#cancel-btn {
    background-color: #ccc;
}

#cancel-btn:hover {
    background-color: #bbb;
}
